@import "tailwindcss";
@source inline("blur-sm");
@theme {
  --animate-loop-scroll: loop-scroll 20s linear infinite;
  --animate-fade-in: fade-in 0.2s ease-out forwards;
  --animate-fade-in-start: fade-in 0.5s ease-out forwards;

  @keyframes loop-scroll{
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
  }

  @keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
  }

}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #52525b;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #71717a;
}